/*index*/

/*body*/

body
{
    background-color:#CED2BC;
    
}

/*ตัวอักษร*/
h1
{
    font-size: 25pt;
    font-family:  'Oswald', sans-serif;
}

h2
{
    font-size: 15pt;
    font-family:  'Oswald', sans-serif;
    
}


/*พื้นหลังรองสีขาว*/

.rcorners1 
{
    border-radius: 25px;
    background: #ffffff;
    padding: 20px; 
    font-family:  'Oswald', sans-serif;
    font-size: 15pt;
    color: black;
    text-align: center;
}

.rcorners2 
{
    border-radius: 25px;
    background: #ffffff;
    padding: 20px; 
    font-family:  'Oswald', sans-serif;
    font-size: 15pt;
    color: black;
    text-align: left;
}

.rcorners3 
{
    border-radius: 25px;
    background: #ffffff;
    padding: 20px; 
    font-family:  'Oswald', sans-serif;
    font-size: 15pt;
    color: black;
    margin: auto;
    text-align: left;
}


/*classที่ใช่ในrcorner1*/

.img-head 
{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/*รวมclass div*/

.div-left
{
    text-align: left;
    
}

.div-center
{
    text-align: center;
}

.div-right
{
    text-align: right;
}

.div-data
{
    font-size: 15pt;
}



/*classที่ใช้ในrcorner2*/

.img-data
{
    width: 200px;
    height: 250px;
    border-radius: 10%;
}

/*gridจัดด้านdata*/

.grid-container 
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.grid-item2
{
    text-align: right;
}

.grid-item1
{
    text-align: left;
}



/*_____________________________________________________*/

/*css ส่วนของ work*/

* 
{
    box-sizing: border-box;
}


  
  /* Position the image container (needed to position the left and right arrows) */
  .container 
{
    position: relative;
}
  
  /* Hide the images by default */
  .mySlides 
{
    display: none;
}
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor 
{
    cursor: pointer;
}
  

  /* Next & previous buttons */
  .prev,.next 
  
  {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  

  /* Position the "next button" to the right */
  .next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}


  /* On hover, add a black background color with a little bit see-through */

.prev:hover,.next:hover 
{
    background-color: rgba(0, 0, 0, 0.8);
}

  
  /* Number text (1/3 etc) */
  .numbertext 
  {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container 
  {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after 
  {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column 
  {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo 
  {
    opacity: 0.6;
  }
  
  .active,.demo:hover 
  {
    opacity: 1;
  }

  /*responsive*/

#header{
    grid-column: 1 / span 3;
}

#menu{
    grid-column: 1 / span 1;
}

#main{
    grid-column: 2 / span 1;
}
#right{
    grid-column: 3 / span 1;
}

#footer{
    grid-column: 1 / span 3;
} 

@media only screen and (max-width: 500px)

{
  .grid-container 
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}
}

  @media only screen and (max-width: 767px)
  {
    .grid-container{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
  }
}

  @media only screen and (max-width: 500px)
  {
    .grid-container1{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
  
}  

